<div class="container-fluid bg-3 text-center">    
        <div class="row">
            <h1><%= title %></h1>
            <h1><%= price %></h1>
            <h1><%= description %></h1>
            <form name="form1" method="POST" action="/product/pause/<%= productKey %>">
                <input type="submit" value="Pause?" >
            </form>
            <form name="form2" method="POST" action="/product/unpause/<%= productKey %>">
                <input type="submit" value="Unpause?" >
            </form>
            <form name="form3" method="POST" action="/product/delete/<%= productKey %>">
                <input type="submit" value="Delete?" >
            </form>
            <form name="form4" method="POST" action="/product/purchase/<%= productKey %>">
                <input type="submit" value="Comprar" >
            </form>
            <form name="form5" method="POST" action="/product/comment/<%= productKey %>">
                <table>
                    <tr>
                    <td>Comment </td>
                    <td><input type="text" name="comment" ></td><tr>
                    <td colspan="2"><input type="submit" value="Log in" ></td>
                    </tr>
                </table>
            </form> 
        </div>
    </div>
    

